header {
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,9,121,1) 35%, rgba(0,44,255,1) 100%);
}

.flexbox img {
    display: inline-block;
    margin: 20px;
    margin-right: 100px;
    height: 140px;
    width: 100px;
}

.flexbox {
    display: flex;
    align-items: center;
    height: 200px;
    color: white;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}